* {
    text-align: center;
    font-family: Georgia;
}

header, footer {
    background-color: Tomato;
    color: MistyRose;
    padding: 10px;
}

nav {
    width: 20%;
    float: left;
}

nav>article {
    background-color: #FFAEA5;
    height: 170px;
    font-size: 200%;
}

#blok1 {
    background-color: MistyRose;
}

main {
    background-color: MistyRose;
    width: 80%;
    height: 510px;
    overflow: auto;
}

#sekcja2, #sekcja3 {
    display: none;
}

table {
    margin: auto;
    width: 60%;
    border: 1px dashed Indigo;
}

select, button {
    margin: 20px;
}

dt {
    font-weight: bold;
    font-style: Italic;
}

dt:hover {
    font-size: 180%;
}

footer {
    clear: both;
}